<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students app</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/student.css">
</head>

<body>
    <header>
        {{> _navbar}}
    </header>
    <div>{{{body}}}</div>
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../js/client.js"></script>
</body>

</html>